
.about_first_part{
    position: relative;
    padding: 200px;
    padding-right: 240px;
    padding-left: 1000px;
    left: -20px;
    color: rgb(83, 83, 83);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 90.437%;
    bottom: 0px;
  }
  
  .about_second_part{
    position: relative;
    padding: 200px;
    padding-right: 1150px;
    padding-left: 175px;
    left: 800px;
    color: rgb(83, 83, 83);
   font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 95.437%;
    bottom: 750px;
    
  }
  .about_third_part{
    position: relative;
    padding: 200px;
    padding-right: 250px;
    padding-left: 1000px;
    right: 900px;
    color: rgb(83, 83, 83);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 95.437%;
    bottom: 1400px;
  }
  

  .image-about-one{
    position: relative;
    bottom: 350px;  
    left: 75px;
    height: 400px;
    width: 650px;
    border-radius: 5%;
  }


  
  